/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArClearingExpensesSp]    Script Date: 23/02/2015 14:39:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZPV_Rpt_ArClearingExpensesSp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ZPV_Rpt_ArClearingExpensesSp]
GO

/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArClearingExpensesSp]    Script Date: 23/02/2015 14:39:35 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ZPV_Rpt_ArClearingExpensesSp] (
	@ArClearing                    ZpvClearingType = NULL

)
AS
--  Crystal reports has the habit of setting the isolation level to dirty
-- read, so we'll correct that for this routine now.  Transaction management
-- is also not being provided by Crystal, so a transaction is started here.
BEGIN TRANSACTION
SET XACT_ABORT ON

IF dbo.GetIsolationLevel(N'ZPV_Rpt_ArClearingExpensesSp') = N'COMMITTED'
   SET TRANSACTION ISOLATION LEVEL READ COMMITTED
ELSE
   SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- A session context is created so session variables can be used.
DECLARE
  @RptSessionID RowPointerType
, @ExecStr LongListType
, @Infobar	InfobarType

DECLARE 
	@Site SiteType
	
SELECT @Site = site FROM site
EXEC [dbo].[SetSiteSp] @Site, @Infobar OUTPUT


    EXEC dbo.InitSessionContextSp
     @ContextName = 'ZPV_Rpt_ArClearingExpensesSp'
   , @SessionID   = @RptSessionID OUTPUT
   , @Site        = @Site


   -- Check for existence of Generic External Touch Point routine (this section was generated by SpETPCodeSp and inserted by CallETPs.exe):
   IF OBJECT_ID(N'dbo.EXTGEN_ZPV_Rpt_ArClearingExpensesSp') IS NOT NULL
   BEGIN
      DECLARE @EXTGEN_SpName sysname
      SET @EXTGEN_SpName = N'dbo.EXTGEN_ZPV_Rpt_ArClearingExpensesSp'
      -- Invoke the ETP routine, passing in (and out) this routine's parameters:
      EXEC @EXTGEN_SpName
         @ArClearing 
		
      IF @@TRANCOUNT > 0
         COMMIT TRANSACTION
      EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
      -- ETP routine must take over all desired functionality of this standard routine:
      RETURN
   END
   -- End of Generic External Touch Point code.
 
DECLARE
   @Severity INT

SET @Severity = 0

select
	cl.clearing			'Liquidacion'
,	cle.description		'Concepto'
,	cle.obs				'Observaciones'
,	-(cle.amount)		'Monto Gasto'
from zpv_ar_clearing cl
inner join zpv_ar_clearing_expenses cle	on cle.clearing = cl.clearing
where	cl.clearing = @ArClearing

--NoteExistsPreq = CASE WHEN @PrintReqNotes = 1 THEN dbo.ReportNotesExist('preq',RecordSet.RowPointer,@ShowInternal, @ShowExternal, RecordSet.PreqNoteExists) ELSE 0 END,
--NoteExistsItem = CASE WHEN @PrintLineNotes = 1 THEN dbo.ReportNotesExist('preqitem',RecordSet.IRowPointer,@ShowInternal, @ShowExternal, RecordSet.ItemNoteExists) ELSE 0 END,


COMMIT TRANSACTION
EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
GO

