/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_DrawerTransSp]    Script Date: 23/02/2015 14:39:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZPV_Rpt_DrawerTransSp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ZPV_Rpt_DrawerTransSp]
GO

/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_DrawerTransSp]    Script Date: 24/02/2015 02:23:35 p.m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ZPV_Rpt_DrawerTransSp] (
	@Drawer      varchar(15) = NULL
,	@TransDate	 DateType = null
)
AS
--  Crystal reports has the habit of setting the isolation level to dirty
-- read, so we'll correct that for this routine now.  Transaction management
-- is also not being provided by Crystal, so a transaction is started here.
BEGIN TRANSACTION
SET XACT_ABORT ON

IF dbo.GetIsolationLevel(N'ZPV_Rpt_DrawerTransSp') = N'COMMITTED'
   SET TRANSACTION ISOLATION LEVEL READ COMMITTED
ELSE
   SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- A session context is created so session variables can be used.
DECLARE
  @RptSessionID RowPointerType
, @ExecStr LongListType
, @Infobar	InfobarType

DECLARE 
	@Site SiteType
	
SELECT @Site = site FROM site
EXEC [dbo].[SetSiteSp] @Site, @Infobar OUTPUT


    EXEC dbo.InitSessionContextSp
     @ContextName = 'ZPV_Rpt_DrawerTransSp'
   , @SessionID   = @RptSessionID OUTPUT
   , @Site        = @Site


   -- Check for existence of Generic External Touch Point routine (this section was generated by SpETPCodeSp and inserted by CallETPs.exe):
   IF OBJECT_ID(N'dbo.EXTGEN_ZPV_Rpt_DrawerTransSp') IS NOT NULL
   BEGIN
      DECLARE @EXTGEN_SpName sysname
      SET @EXTGEN_SpName = N'dbo.EXTGEN_ZPV_Rpt_DrawerTransSp'
      -- Invoke the ETP routine, passing in (and out) this routine's parameters:
      EXEC @EXTGEN_SpName
         @Drawer
		 ,@TransDate
		
      IF @@TRANCOUNT > 0
         COMMIT TRANSACTION
      EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
      -- ETP routine must take over all desired functionality of this standard routine:
      RETURN
   END
   -- End of Generic External Touch Point code.
 
DECLARE
   @Severity INT

SET @Severity = 0

select 
	dt.trans_date	'Fecha Trans'
,	dt.trans_num	'Transaccion'
,	case dt.type
		when 'I' then 'Apertura'
		when 'T' then 'Transaccion'
		when 'A' then 'Aliviacion'
		when 'D' then 'Cierre'
	end 'Tipo Transaccion'			
,	dt.relief_num	'Nro Aliviador'
,	dt.drawer		'Caja'
,	dt.amount		'Monto'
,	dt.curr_code	'Moneda'
,	dt.exch_rate	'Tasa Cambio'
,	dt.apply_date	'Fecha Aplicacion'	
,	dt.ar_type_id	'Recibo'
,	dt.co_num		'Pedido'
,	case dt.zla_bank_type
		when 'T' then 'Cheques y Depositos'
		when 'E' then 'Efectivo'
		when 'Q' then 'Tarjetas'
		when 'R' then 'Retenciones'
		when 'B' then 'Transferencias'
	end 'Tipo Banco'
,	isnull(copay.cc_bank, arpay.cc_bank)	'Banco Tarjeta'
,	isnull(copay.cc_cupon, arpay.cc_cupon)	'Cupon Tarjeta'
,	isnull(copay.cc_due_date, arpay.cc_due_date)	'Fecha Venc Tarjeta'
,	isnull(copay.cc_name, arpay.cc_name)	'Emisor Tarjeta'
,	isnull(copay.cc_number, arpay.cc_number)	'Nro Tarjeta'
,	isnull(copay.cc_quotes, arpay.cc_quotes)	'Cuotas Tarjeta'
,	isnull(copay.cc_phone, arpay.cc_phone)	'Telefono Tarjeta'
,	isnull(copay.ck_bank, arpay.ck_bank)	'Banco Cheque'
,	isnull(copay.ck_check_date, arpay.ck_check_date)	'Fecha Emision Cheque'
,	isnull(copay.ck_cuit, arpay.ck_cuit)	'CUIT Cheque'	
,	isnull(copay.ck_due_date, arpay.ck_due_date) 'Vencimineto Cheque'
,	isnull(copay.ck_approv_num, arpay.ck_approv_num) 'Nro Aprov Cheque'
,	isnull(copay.pay_type, arpay.pay_type) 'Tipo de Pago'
,	bank.name	'Nombre Banco'
,	ptype.description	'Desc Tipo Pago'
,	drw.description		'Desc Caja'
from zpv_drawer_trans dt 
left join	zpv_co_payments copay
	on copay.RowPointer = dt.copay_rowpointer
left join	zpv_ar_payments arpay
	on arpay.RowPointer = dt.copay_rowpointer
left join	bank_hdr bank 
	on bank.bank_code	= isnull(copay.bank_code, arpay.bank_code)
left join posm_pay_type ptype
	on ptype.posm_pay_type	= ISNULL(copay.pay_type, arpay.pay_type)
left join zpv_drawer drw
	on drw.drawer			= dt.drawer
where	dt.drawer		= @Drawer
	and	cast(dt.trans_date as date) = @TransDate

COMMIT TRANSACTION
EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
GO

