/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArClearingExpensesSp]    Script Date: 23/02/2015 14:39:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZPV_Rpt_ArClearingSp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ZPV_Rpt_ArClearingSp]
GO

/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArClearingSp]    Script Date: 24/02/2015 02:23:35 p.m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ZPV_Rpt_ArClearingSp] (
	@ArClearing                    ZpvClearingType = NULL

)
AS
--  Crystal reports has the habit of setting the isolation level to dirty
-- read, so we'll correct that for this routine now.  Transaction management
-- is also not being provided by Crystal, so a transaction is started here.
BEGIN TRANSACTION
SET XACT_ABORT ON

IF dbo.GetIsolationLevel(N'ZPV_Rpt_ArClearing') = N'COMMITTED'
   SET TRANSACTION ISOLATION LEVEL READ COMMITTED
ELSE
   SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- A session context is created so session variables can be used.
DECLARE
  @RptSessionID RowPointerType
, @ExecStr LongListType
, @Infobar	InfobarType

DECLARE 
	@Site SiteType
	
SELECT @Site = site FROM site
EXEC [dbo].[SetSiteSp] @Site, @Infobar OUTPUT


    EXEC dbo.InitSessionContextSp
     @ContextName = 'ZPV_Rpt_ArClearingSp'
   , @SessionID   = @RptSessionID OUTPUT
   , @Site        = @Site


   -- Check for existence of Generic External Touch Point routine (this section was generated by SpETPCodeSp and inserted by CallETPs.exe):
   IF OBJECT_ID(N'dbo.EXTGEN_ZPV_Rpt_ArClearingSp') IS NOT NULL
   BEGIN
      DECLARE @EXTGEN_SpName sysname
      SET @EXTGEN_SpName = N'dbo.EXTGEN_ZPV_Rpt_ArClearingSp'
      -- Invoke the ETP routine, passing in (and out) this routine's parameters:
      EXEC @EXTGEN_SpName
         @ArClearing 
		
      IF @@TRANCOUNT > 0
         COMMIT TRANSACTION
      EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
      -- ETP routine must take over all desired functionality of this standard routine:
      RETURN
   END
   -- End of Generic External Touch Point code.
 
DECLARE
   @Severity INT

SET @Severity = 0

select
	cl.clearing			'Liquidacion'
,	cl.clearing_date	'Fecha Liquidacion'
,	cl.cust_num			'Recaudador'
,	cl.name				'Nombre Recaudador'
,	cl.tax_reg_num1		'NIT Recaudador'
,	cl.amount			'Monto Recaudado'
,	cl.posm_pay_type	'Tipo de Recaudacion'
,	pay.description		'Descripcion T.Rec'
,	cl.bank_code		'Banco'
,	bank.name			'Nombre Banco'
,	cl.stat				'Estado'
,	cl.amount_applied	'Monto Aplicado'
-- Recibos Cabecera --
,	arp.ar_pay_id		'Recibo'
,	arp.cust_num		'Cliente'
,	cad.name			'Nombre Cliente'
,	arp.zpv_amount		'Monto Aplicado Cliente'
-- Recibos Facturas --
,	art.inv_num			'Factura'
,	art.amount			'Monto Pagado'
from zpv_ar_clearing cl
inner join posm_pay_type_mst pay	on pay.posm_pay_type = cl.posm_pay_type
inner join bank_hdr_mst		bank	on bank.bank_code = cl.bank_code
inner join zla_ar_hdr_mst	arp		on arp.zpv_clearing = cl.clearing 
inner join custaddr_mst		cad		on cad.cust_num = arp.cust_num and cad.cust_seq = arp.cust_seq
inner join artran_mst		art		on art.zla_ar_pay_id = arp.ar_pay_id and art.type = 'P'
where	cl.clearing = @ArClearing

--NoteExistsPreq = CASE WHEN @PrintReqNotes = 1 THEN dbo.ReportNotesExist('preq',RecordSet.RowPointer,@ShowInternal, @ShowExternal, RecordSet.PreqNoteExists) ELSE 0 END,
--NoteExistsItem = CASE WHEN @PrintLineNotes = 1 THEN dbo.ReportNotesExist('preqitem',RecordSet.IRowPointer,@ShowInternal, @ShowExternal, RecordSet.ItemNoteExists) ELSE 0 END,


COMMIT TRANSACTION
EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
GO

