/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArPaymentSp]    Script Date: 23/02/2015 14:39:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZPV_Rpt_ArPaymentSp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ZPV_Rpt_ArPaymentSp]
GO

/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_ArPaymentSp]    Script Date: 24/02/2015 02:23:35 p.m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ZPV_Rpt_ArPaymentSp] (
	@ArPayId      ZlaArPayIdType = NULL

)
AS
--  Crystal reports has the habit of setting the isolation level to dirty
-- read, so we'll correct that for this routine now.  Transaction management
-- is also not being provided by Crystal, so a transaction is started here.
BEGIN TRANSACTION
SET XACT_ABORT ON

IF dbo.GetIsolationLevel(N'ZPV_Rpt_ArPaymentSp') = N'COMMITTED'
   SET TRANSACTION ISOLATION LEVEL READ COMMITTED
ELSE
   SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- A session context is created so session variables can be used.
DECLARE
  @RptSessionID RowPointerType
, @ExecStr LongListType
, @Infobar	InfobarType

DECLARE 
	@Site SiteType
	
SELECT @Site = site FROM site
EXEC [dbo].[SetSiteSp] @Site, @Infobar OUTPUT


    EXEC dbo.InitSessionContextSp
     @ContextName = 'ZPV_Rpt_ArPaymentSp'
   , @SessionID   = @RptSessionID OUTPUT
   , @Site        = @Site


   -- Check for existence of Generic External Touch Point routine (this section was generated by SpETPCodeSp and inserted by CallETPs.exe):
   IF OBJECT_ID(N'dbo.EXTGEN_ZPV_Rpt_ArPaymentSp') IS NOT NULL
   BEGIN
      DECLARE @EXTGEN_SpName sysname
      SET @EXTGEN_SpName = N'dbo.EXTGEN_ZPV_Rpt_ArPaymentSp'
      -- Invoke the ETP routine, passing in (and out) this routine's parameters:
      EXEC @EXTGEN_SpName
         @ArPayId
		
      IF @@TRANCOUNT > 0
         COMMIT TRANSACTION
      EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
      -- ETP routine must take over all desired functionality of this standard routine:
      RETURN
   END
   -- End of Generic External Touch Point code.
 
DECLARE
   @Severity INT

SET @Severity = 0

select 
	arp.cust_num			'Cod Cliente'
,	arp.cust_seq			'Seq Cliente'
,	arp.pay_type			'Tipo Recibo'	
,	arp.ar_pay_id			'Recibo'
,	arp.pay_date			'Fecha Recibo'
,	arp.curr_code			'Moneda'
,	ar.inv_seq				'Nro Cheque'
,	ar.inv_num				'Nro Factura'
,	ar.co_num				'Pedido'
,	ar.amount				'Monto'
,	ar.bank_code			'Cod Banco'
,	glb.zla_third_bank_id	'Banco Terceros'
,	glb.zla_third_check_date	'Fecha Cheque 3ros'
,	glb.zla_third_description	'Descripcion Chk 3ros'	
,	glb.zla_third_party_check	'Nro Cheque 3ros'
,	glb.zla_third_tax_num_reg	'Cuit Chk 3ros'
,	isnull(copay.cc_bank, arpay.cc_bank)	'Banco Tarjeta'
,	isnull(copay.cc_cupon, arpay.cc_cupon)	'Cupon Tarjeta'
,	isnull(copay.cc_due_date, arpay.cc_due_date)	'Fecha Venc Tarjeta'
,	isnull(copay.cc_name, arpay.cc_name)	'Emisor Tarjeta'
,	isnull(copay.cc_number, arpay.cc_number)	'Nro Tarjeta'
,	isnull(copay.cc_quotes, arpay.cc_quotes)	'Cuotas Tarjeta'
,	isnull(copay.cc_phone, arpay.cc_phone)	'Telefono Tarjeta'
,	isnull(copay.ck_bank, arpay.ck_bank)	'Banco Cheque'
,	isnull(copay.ck_check_date, arpay.ck_check_date)	'Fecha Emision Cheque'
,	isnull(copay.ck_cuit, arpay.ck_cuit)	'CUIT Cheque'	
,	isnull(copay.ck_due_date, arpay.ck_due_date) 'Vencimineto Cheque'
,	isnull(copay.ck_approv_num, arpay.ck_approv_num) 'Nro Aprov Cheque'
,	isnull(copay.drawer, arpay.drawer) 'Caja'
,	isnull(copay.pay_type, arpay.pay_type) 'Tipo de Pago'
,	cad.name	'Nombre Cliente'
,	bank.name	'Nombre Banco'
,	ptype.description	'Desc Tipo Pago'
,	drw.description		'Desc Caja'
from zla_ar_hdr arp
inner join artran_mst ar 
	on	ar.zla_ar_pay_id	= arp.ar_pay_id
	and	ar.cust_num			= arp.cust_num
	and ar.type				= 'P' 
inner join glbank glb
	on	glb.bank_code		= ar.bank_code
	and	glb.cust_check_num	= ar.inv_seq
	and glb.ref_num			= ar.cust_num
	and glb.zla_pay_id		= ar.zla_ar_pay_id
left join zpv_co_payments copay
	on	copay.ar_pay_id		= ar.zla_ar_pay_id
	and	copay.bank_code		= ar.bank_code
	and	copay.check_num		= ar.inv_seq
	and copay.co_num		= ar.co_num
left join zpv_ar_payments arpay
	on	arpay.ar_pay_id		= ar.zla_ar_pay_id
	and	arpay.bank_code		= ar.bank_code
	and	arpay.check_num		= ar.inv_seq
	and arpay.cust_num		= ar.cust_num
left join custaddr cad 
	on	cad.cust_num		= ar.cust_num
	and	cad.cust_seq		= arp.cust_seq
left join bank_hdr bank
	on bank.bank_code		= ar.bank_code
left join posm_pay_type ptype
	on ptype.posm_pay_type	= ISNULL(copay.pay_type, arpay.pay_type)
left join zpv_drawer drw
	on drw.drawer			= ISNULL(copay.drawer, arpay.drawer)
where arp.ar_pay_id = @ArPayId

COMMIT TRANSACTION
EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
GO

