/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_CustomerOrderPOSSp]    Script Date: 23/02/2015 14:39:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZPV_Rpt_CustomerOrderPOSSp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ZPV_Rpt_CustomerOrderPOSSp]
GO

/****** Object:  StoredProcedure [dbo].[ZPV_Rpt_CustomerOrderPOSSp]    Script Date: 24/02/2015 02:23:35 p.m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ZPV_Rpt_CustomerOrderPOSSp] (
	@CoNum      CoNumType = NULL

)
AS
--  Crystal reports has the habit of setting the isolation level to dirty
-- read, so we'll correct that for this routine now.  Transaction management
-- is also not being provided by Crystal, so a transaction is started here.
BEGIN TRANSACTION
SET XACT_ABORT ON

IF dbo.GetIsolationLevel(N'ZPV_Rpt_CustomerOrderPOSSp') = N'COMMITTED'
   SET TRANSACTION ISOLATION LEVEL READ COMMITTED
ELSE
   SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- A session context is created so session variables can be used.
DECLARE
  @RptSessionID RowPointerType
, @ExecStr LongListType
, @Infobar	InfobarType

DECLARE 
	@Site SiteType
	
SELECT @Site = site FROM site
EXEC [dbo].[SetSiteSp] @Site, @Infobar OUTPUT


    EXEC dbo.InitSessionContextSp
     @ContextName = 'ZPV_Rpt_CustomerOrderPOSSp'
   , @SessionID   = @RptSessionID OUTPUT
   , @Site        = @Site


   -- Check for existence of Generic External Touch Point routine (this section was generated by SpETPCodeSp and inserted by CallETPs.exe):
   IF OBJECT_ID(N'dbo.EXTGEN_ZPV_Rpt_CustomerOrderPOSSp') IS NOT NULL
   BEGIN
      DECLARE @EXTGEN_SpName sysname
      SET @EXTGEN_SpName = N'dbo.EXTGEN_ZPV_Rpt_CustomerOrderPOSSp'
      -- Invoke the ETP routine, passing in (and out) this routine's parameters:
      EXEC @EXTGEN_SpName
         @CoNum
		
      IF @@TRANCOUNT > 0
         COMMIT TRANSACTION
      EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
      -- ETP routine must take over all desired functionality of this standard routine:
      RETURN
   END
   -- End of Generic External Touch Point code.
 
DECLARE
   @Severity INT

SET @Severity = 0

select 
	co.co_num				'Pedido'
,	co.cust_num				'Cliente'
,	cad.addr##1				'Direccion Entrega 1'
,	cad.addr##2				'Direccion Entrega 2'
,	cad.addr##3				'Direccion Entrega 3'
,	cad.addr##4				'Direccion Entrega 4'
,	cad.city				'Ciudad Entrega'
,	cad.country				'Pais Entrega'
,	cad.county				'Zona Entrega'
,	cou.county_name			'Zona Descripcion Entrega'
,	cad.state				'Departamento Entrega'
,	st.description			'Dpto Descrip Entrega'
,	co.cust_seq				'Seq Cliente'
,	co.order_date			'Fecha Pedido'
,	co.terms_code			'Termino de Venta'
,	ter.description			'Termino Descripcion'
,	co.ship_code			'Tipo de entrega'
,	ship.description		'Tipo Ent Descripcion'
,	co.price				'Total Pedido'
,	co.freight				'Flete Pedido'
,	co.sales_tax			'IVA Pedido'
,	co.sales_tax_2			'Retenciones Pedido'
,	co.stat					'Estado Pedido'
,	co.slsman				'Vendedor'
,	co.eff_date				'Fecha Vigencia'
,	co.whse					'Almacen'
,	co.disc_amount			'Monto Descuento'
,	co.disc					'% Descuento'
,	co.pricecode			'Codigo Precio'
,	price.description		'Cod Precio Descripcion'
,	co.zpv_bill_addr1		'Direccion Factura 1'
,	co.zpv_bill_addr2		'Direccion Factura 2'
,	co.zpv_bill_addr3		'Direccion Factura 3'
,	co.zpv_bill_addr4		'Direccion Factura 4'
,	co.zpv_bill_city		'Ciudad Factura'	
,	co.zpv_bill_country		'Pais Factura'
,	co.zpv_bill_county		'Zona Factura'
,	co.zpv_bill_cuit		'NIT'
,	co.zpv_bill_email		'Email'
,	co.zpv_bill_fiscal_name	'Nombre Factura'
,	co.zpv_bill_state		'Estado Factura'
,	co.zpv_bill_type_doc	'Tipo Documento'	
,	co.zpv_bill_zip			'Cod Postal Factura'
,	co.zpv_convenio			'Convenio'
,	co.zpv_follow			'Seguimiento'
,	co.zpv_pos				'Sucursal'
,	co.zpv_slsman			'Vendedor 2'
,	co.zpv_slsman_s			'Vendedor Ext'
,	co.zpv_user				'Usuario'
,	cob.co_line				'Linea'
,	cob.blanket_qty_conv	'Cantidad'
,	cob.cont_price_conv		'Precio Neto'
,	cob.description			'Descripcion Item'
,	cob.item				'Item'
,	cob.promise_date		'Fecha Entrega'
,	cob.u_m					'UM'
,	cob.zpv_lot				'Lote'
,	cob.zpv_obs_producto	'Observaciones'	
,	cob.zpv_promotion_code	'Cod Promocion'
,	cob.zpv_res_whse		'Almacen reserva'
,	cob.zpv_sales_tax		'IVA Linea'
,	cob.zpv_sales_tax2		'Impuestos 2 Linea'
,	cob.zpv_ship_whse		'Almacen entrega'
,	cob.zpv_shiptype		'Tipo de Entrega Linea'
,	cob.zpv_total			'Monto Linea'
,	cob.zpv_unit_price		'Precio Unitario Linea'
from co
left join co_bln cob
	on	cob.co_num = co.co_num
left join custaddr cad
	on	cad.cust_num = co.cust_num
	and	cad.cust_seq = co.cust_seq
left join state st
	on	st.state = cad.state
left join zco_county cou
	on	cou.county_code = cou.county_code
left join terms ter 
	on	ter.terms_code = co.terms_code
left join shipcode ship
	on ship.ship_code = co.ship_code
left join pricecode price
	on price.pricecode = co.pricecode
where	co.co_num	= @CoNum

COMMIT TRANSACTION
EXEC dbo.CloseSessionContextSp @SessionID = @RptSessionID
GO

